altgraph==0.17.4
chardet==5.2.0
fpdf==1.7.2
packaging==24.2
pillow==11.0.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
PyQt5==5.15.9
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
python-dateutil==2.9.0.post0
qrcode==8.0
reportlab==4.2.5
six==1.16.0
